ul {
  margin: 0;
  padding: 0;
}

li {
  background-color: #0b3954;
  color: #b5bec6;
  cursor: pointer;
  padding: .25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 4px solid transparent;
}

li:hover {
  color: #C7DBE6;
  border-left: 4px solid #bfb1c1;
}
